<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <title>After Reading</title>
    <link rel="shortcut icon" href="note.png" type="image/x-icon" />
    <link rel="stylesheet" href="write.css" />
  </head>
  <body>
    <div class="homeHead">
      <div><a href="/logout">로그아웃</a></div>
      <div><a name="userName" href="/logout"><%= userName %></a></div>
    </div>
    <form class="inputForm">
      <input type="text" class="title" name="title" />
      <textarea class="maintext" name="mainText"></textarea>
    </form>
  </body>
</html>
