<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <title>After Reading</title>
    <link rel="shortcut icon" href="note.png" type="image/x-icon" />
    <link rel="stylesheet" href="write.css" />
  </head>
  <body>
    <div class="homeHead">
      <book class="book"><%- results.title %></book>
    </div>
    <form class="inputForm">
      <input type="text" class="title" name="title" />
      <textarea class="maintext" name="mainText"></textarea>
      <input type="submit" class="submit value="제출" />
    </form>
  </body>
</html>
