@charset "utf-8";

html,
body {
  height: 100%;
  margin: 0%;
}

.signinImg {
  float: left;
  margin-left: 170px;
  padding-top: 60px;
}

.signinup {
  margin-top: 200px;
  margin-left: 100px;
  float: left;
  width: 350px;
  border: 1px solid #dbdbdb;
}

.bookreport {
  width: max-content;
  margin: auto;
}

.signin {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.signup {
  width: 250px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.inputform {
  width: 250px;
  height: 38px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 6px;
  padding-left: 8px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
}

.inputform:focus {
  outline: none;
  border: 1px solid #868f81;
}
